body {
  background-color: #F8F5F8;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  background-color: #E4D6E2
}

/* Change the width and color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #95598A; /* Change to desired color */
  border-radius: 8px; /* Change to desired border radius */
  width:8px
   /* Change to desired border color */
}